
.areas__feedback {
    padding: 5rem 0;
    background-color: #f7f7f7;
    @include breakpoint(mobile) {
        padding: 4rem 0;
    }

    .modal__form-label {
        color: inherit;
    }

    .modal__form-input, .modal__form-textarea {
        background-color: white;
        border-color: #c2c2c2;
        color: inherit;
        @include placeholder {
            color: inherit;
        }
    }

    .modal__form-row .wpcf7-list-item-label {
        color: inherit;
    }

    .modal__form-row .wpcf7-list-item-label::before {
        border-color: #c2c2c2;
    }


    .modal__form-submit {
        @include btn();
        background-color: $primary-color;
        border-color: $primary-color;
        color: white;
        font-weight: initial;
        text-transform: initial;
        font-size: 1.8rem;
        padding: 1rem 2rem;
    }


    .wpcf7-display-none {
        display: none !important;
    }

    div.wpcf7-response-output {
        margin-left: 1rem;
        margin-right: 1rem;
       
        margin: 0 auto;
        margin-top: 2rem;
        display: inline-flex;
    }


    form {
        display: flex;
        flex-wrap: wrap;
        margin: -1rem;
    }

    .modal__form-row {
        width: 50%;
        padding: 1rem;
        margin: 0;
        &:nth-child(6) {
            width: 100%;
        }
        &:nth-child(7) {
            width: 100%;
            text-align: right;
        }

        @include breakpoint(mobile) {
            width: 100%;
        }
    }

    .modal__form-row ~ p {
        padding: 1rem;
        width: 100%;
        text-align: right;
    }
}


.areas__feedback-heading {
    @include sectionHeading();
    text-align: center;
    margin-bottom: 2rem;
}


.areas__feedback-wrapper {
    max-width: 90rem;
    margin: 0 auto;
}