.corporation-map {
    padding: 5rem 0;
}


.corporation-map__row {
    display: flex;
    margin: -1.5rem;
}


.corporation-map__col {
    width: 50%;
    padding: 1.5rem;
}

.corporation-map__map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


.corporation-map__wrapper {
    position: relative;
    background-color: $primary-color;
    &::after {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 56.25%;
    }
}