.project-single__info {
    padding-top: 3rem;
    padding-bottom: 0;
    @include breakpoint(mobile) {
    }
}

.project-single__intro {
    min-height: 77.7rem;
    display: flex;
    flex-direction: column;

    background-color: $primary-color;
    color: white;
    position: relative;
    z-index: 1;
    padding: 7.2rem;
    & > .container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: flex-end;
    }

    @include breakpoint(mobile) {
        min-height: 30rem;
        padding: 0;
        padding-bottom: 4rem;
        padding-top: 4rem;
        margin-top: 7rem;
    }
}

.project-single__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50%;
        background-image: linear-gradient(to top, rgba(black, 0.7), rgba(black, 0));

        @include breakpoint(mobile) {
            height: 100%;
        }
    }
    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        @include objectFitCover();
    }
}

.project-single__title {
    font-size: 7.2rem;
    line-height: 7.2rem;
    margin-bottom: 1.2rem;
    font-weight: 400;
    @include breakpoint(mobile) {
        font-size: 5rem;
        line-height: 1.2;
    }
}

.project-single__summary {
    padding-bottom: 4rem;
    @include breakpoint(mobile) {
        padding-bottom: 2rem;
    }
}

.project-single__summary-list {
    display: flex;
    flex-wrap: wrap;
    margin: -2rem -2.4rem;
    @include breakpoint(mobile) {
        margin: -1rem;
    }
}

.project-single__summary-list-item {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 2rem 2.4rem;
    @include breakpoint(mobile) {
        padding: 1rem;
    }
}

.project-single__summary-key {
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: #7f7f7f;
    margin-bottom: 0.2rem;
    font-weight: 400;
    font-family: $roboto;
    @include breakpoint(mobile) {
        font-size: 2rem;
        line-height: 1.2;
        margin-bottom: 1rem;
    }
}

.project-single__summary-value {
    font-size: 3.6rem;
    line-height: 4.3rem;
    @include breakpoint(mobile) {
        font-size: 2.5rem;
        line-height: 1.2;
    }
}

.project-single__apply-wrapper {
    display: flex;
    align-items: center;
    &:last-child {
        margin-bottom: 4rem;
        @include breakpoint(mobile) {
            margin-bottom: 0;
        }
    }
}

.project-single__apply-link {
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: white;
    padding: 1rem;
    text-align: center;
    background: #4ba4db;
    border-radius: 0.8rem;
    margin-right: 1.4rem;
    &:link,
    &:visited {
        color: white;
    }
}

.project-single__apply-text {
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: black;
}

.project-single__content {
    padding-top: 4.2rem;
    padding-bottom: 3rem;
    font-size: 2.4rem;
    line-height: 2.9rem;

    @include breakpoint(mobile) {
        padding-top: 1rem;
        font-size: 2rem;
        line-height: 1.2;
        padding-bottom: 0;
    }
    & > * {
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    img {
        display: block;
        width: 100%;
        border-radius: 0.8rem;
        margin: 4rem 0;
        height: auto !important;
        @include breakpoint(mobile) {
            margin: 2rem 0;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 4rem;
        margin-bottom: 1.5rem;
        font-size: 3rem;
        line-height: 1.2;
        font-weight: 400;
        @include breakpoint(mobile) {
            font-size: 2.4rem;
            line-height: 1.2;
        }
    }

    p {
        margin-bottom: 1.5rem;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border: none;
        td,
        th {
            text-align: left;
            vertical-align: top;
            border: none;
            padding-right: 3rem;
            @include breakpoint(mobile) {
                padding-right: 2rem;
            }
        }

        th {
            font-weight: 400;
            font-size: 2.4rem;
            line-height: 2.9rem;
            @include breakpoint(mobile) {
                font-size: 1.8rem;
                line-height: 1.2;
            }
        }

        thead {
            th {
                padding-bottom: 1rem;
                border-bottom: 2px solid #7f7f7f;
            }
        }

        td {
            padding-top: 2rem;
            padding-bottom: 2rem;
            font-weight: 300;
            font-size: 2.4rem;
            line-height: 2.9rem;
            @include breakpoint(mobile) {
                font-size: 1.8rem;
                line-height: 1.2;
            }
        }

        tbody {
            td {
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background: linear-gradient(to right, #7f7f7f 0, #7f7f7f 0.4rem, rgba(white, 0) 0.4rem, rgba(white, 0) 0.8rem);
                    background-size: 0.8rem 1px;
                    background-repeat: repeat-x;
                }
            }
        }
    }
}

.project-single__card {
    padding: 2rem 0;
}

.project-single__all-cases {
    margin-top: 2rem;
}

.project-single__slider-heading {
    font-size: 2.4rem;
    line-height: 2.9rem;
    margin-bottom: 1.6rem;
    font-weight: 400;
}

.project-single__slider {
    border-radius: 0.8rem;
    overflow: hidden;
    position: relative;
}

.project-single__slider-card {
    display: block;
    position: relative;
    &:link,
    &:visited {
        color: white;
    }

    &::after {
        content: '';
        display: block;
        padding-bottom: 30%;
        width: 100%;
    }
}

.project-single__gallery {
    padding-top: 4rem;
    @include breakpoint(mobile) {
        padding-top: 2rem;
    }
}

.project-single__slider-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}

.project-single__slider-heading {
    font-size: 2.4rem;
    line-height: 2.9rem;
    font-weight: 400;
    color: black;
    margin-bottom: 1.6rem;
}

.project-single__gallery {
    margin-bottom: 4rem;
}

.project-single__slider-card-description {
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: white;
}

.project-single__slider-card-description {
    position: absolute;
    left: 2.5rem;
    bottom: 2rem;
    width: 100%;
    max-width: 50rem;
    font-size: 2.4rem;
    line-height: 2.9rem;
    color: white;
}

.project-single__slider-nav {
    right: 1.8rem;
    bottom: 2rem;
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 150;

    .success-stories__nav-controls-fraction {
        color: white;
        font-size: 1.8rem;
        line-height: 2.2rem;
        display: flex;
        align-items: baseline;
        margin-left: 0.5rem;
        min-width: 3rem;
        text-align: right;
        justify-content: flex-end;
    }
}

.project-single__info .govsupport-single__sidebar {
    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
}
