.schema {
    padding: 4.5rem 0;
    padding-bottom: 5rem;
    @include breakpoint(mobile) {
        padding: 3rem 0;
        padding-bottom: 0;
    }
}

.schema__title {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: initial;
    }
}

.schema__title-heading {
    @include sectionHeading();
    width: 28rem;
    flex-shrink: 0;
    align-self: stretch;
    display: flex;
    align-items: center;
    white-space: nowrap;

    @include breakpoint(mobile) {
        flex-direction: column;
        width: 100%;
        align-items: initial;
        justify-content: initial;
        margin-bottom: 2rem;
    }
}

.schema__title-description {
    margin-top: 0.5rem;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #7f7f7f;
    font-family: $roboto;
    flex-basis: 80rem;

    @include breakpoint(mobile) {
        flex-basis: auto;

    }
}

.schema__counters {
    display: flex;
    align-items: center;
    flex-basis: 48rem;
    @include breakpoint(mobile) {
        flex-basis: auto;
        width: 100%;
        margin-bottom: 2rem;
    }
}

.schema__counter {
    display: flex;
    align-items: center;
    flex-basis: 17rem;
    padding-right: 1.9rem;
    border-right: 2px solid #7f7f7f;
    margin-right: 1.9rem;
    &:last-child {
        border-right: none;
        margin-right: 0;
    }
}

.schema__counter-amount {
    font-weight: 500;
    font-size: 4.8rem;

    margin-right: 0.8rem;
    color: #7f7f7f;
    line-height: 1;

    font-family: $roboto;
    letter-spacing: -.02em;
  

    &--blue {
        font-weight: bold;
        color: #4ba4db;
    }
}

.schema__counter-text {
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #7f7f7f;
    font-family: $roboto;
    
}

.schema__subheading {
    font-size: 2.4rem;
    line-height: 2.9rem;
    font-weight: 400;
    color: black;
    width: 28rem;
    flex-shrink: 0;
    @include breakpoint(mobile) {
        flex-basis: auto;
        flex-shrink: 1;
        width: 100%;
        margin-bottom: 1.5rem;
    }
}

.schema__divider {
    height: 2px;
    width: 8rem;
    background-color: $primary-color;
    border: none;
    margin-bottom: 1.8rem;
}

.schema__steps {
    margin-top: 3rem;
}

.schema__steps-slider-pagination {
    margin-bottom: -4rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 20;
    @include breakpoint(mobile) {
        margin: 0;
        flex-direction: column;
        align-items: initial;
        margin-bottom: 3rem;
    }
}

.schema__steps-bullet {
    display: flex;
    align-items: center;
    color: #7f7f7f;
    transition: color 0.2s;
   
    
    cursor: pointer;
    &:first-child {
        .icon-step-arrow {
            display: none;
        }
    }

    &:first-child {
        .icon-step {
            margin-left: 0;
        }
    }

    .icon-step {
        width: 3.6rem;
        height: 3.6rem;
        flex-shrink: 0;
        margin-right: 1rem;
        fill: currentColor;
        transition: fill 0.2s, transform .2s;
        transform: scale(0.7);
        margin-left: 1rem;
        @include breakpoint(mobile) {
            width: 3rem;
            height: 3rem;
            margin: 0;
        }
    }

    .icon-step-arrow {
        width: 5.7rem;
        height: 1.5rem;
        flex-shrink: 0;
        fill: currentColor;
        
        @include breakpoint(mobile) {
            width: 5rem;
            align-self: flex-start;
            margin: 0 .4rem;
            margin-top: 0.7rem;
        }
    }


    @include breakpoint(mobile) {
        margin: 0;
        position: relative;
    }
}


.schema__steps-bullet--active .icon-step {
    transform: scale(1);
}

.schema__steps-bullet-text {
    font-size: 1.8rem;
    line-height: 2.2rem;
    transition: color 0.2s;
    white-space: nowrap;
    .schema__steps-bullet--active & {
        color: black;
    }

    @include breakpoint(mobile) {
        
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translateX(-50%);
        margin-top: 0.3rem;
    }
}


.schema__steps-bullet-wrapper {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    position: relative;
    @include breakpoint(mobile) {
        margin: 0;
        flex-direction: column;
        align-items: initial;
        
    }
}

.schema__steps-slider-inner-wrapper {
    display: flex;
    // align-items: center;

    .swiper-slide:last-child .schema__steps-card-next-step-digit {
        opacity: 0;
        visibility: hidden;
    }

    @include breakpoint(mobile) {
        // flex-direction: column;
    }
}

.schema__steps-slider-left-col {
    width: 28rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @include breakpoint(mobile) {
        width: 100%;
        display: contents;
    }
}

.schema__steps-slider-right-col {
    width: 50%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
        display: contents;
    }
}

.schema__steps-btn {
    display: block;
    transition: opacity 0.2s;
    svg {
        width: 7rem;
        height: 7rem;
        fill: $primary-color;
        display: block;

        @include breakpoint(mobile) {
            width: 3rem;
            height: 7rem;
        }
    }

    &--prev {
        svg {
            transform: scaleX(-1);
        }
    }

    &.swiper-button-disabled {
        opacity: 0.5;
    }
}

.schema__steps-btn--prev {
    margin-right: 9rem;
    @include breakpoint(mobile) {
        margin-right: 2rem;
    }
}

.schema__steps-btn--next {
    margin-left: 9rem;
    @include breakpoint(mobile) {
        margin-left: 2rem;
    }
}

.schema__steps-slider-block-wrapper {
    width: 50%;
    flex-grow: 1;
    @include breakpoint(mobile) {
        width: 50%;
        flex-grow: 1;
    }
}

.schema__steps-slider-pagination-bullets {
    display: flex;
    align-items: center;

    @include breakpoint(mobile) {
        margin-bottom: 2rem;
        justify-content: center;
    }
}   

.schema__steps-bullet {
    &--active {
        color: $primary-color;
    }
    &:last-child {
        margin-right: 0;
    }
}

.schema__steps-card {
    display: flex;
    align-items: center;
    color: #000000;
    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: initial;
    }
}

.schema__steps-card-content {
    width: 40rem;
    flex-shrink: 0;
    margin-right: 1.6rem;
    @include breakpoint(mobile) {
        width: 100%;
        margin: 0;
        flex-shrink: 1;
      
    }
}

.schema__steps-image-container {
    width: 40%;
    flex-grow: 1;
    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
        position: relative;
        &::after {
            content: '';
            display: block;
            width: 100%;
            padding-bottom: 56.25%;
        }
    }
}

.schema__steps-image {
    width: 100%;
    height: auto;

    @include breakpoint(mobile) {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        @include objectFitContain();
    }
}

.schema__steps-card-step-digit {
    font-weight: 700;
    font-size: 14.4rem;
    line-height: 17.3rem;
    color: $primary-color;
    @include breakpoint(mobile) {
        font-size: 10rem;
        line-height: 1;
        margin-bottom: 1.5rem;
        text-align: center;
        display: block;
    }
}

.schema__steps-card-name {
    font-size: 2.4rem;
    line-height: 2.9rem;
    margin-bottom: 1.1rem;
    font-weight: 400;
}

.schema__steps-card-text {
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #7f7f7f;
    margin-bottom: 2rem;
    font-family: $roboto;
    padding-right: 2rem;
    a {
        text-decoration-line: underline;

        &:link,
        &:visited {
            color: $primary-color;
        }

        &:hover {
            text-decoration: none;
        }
    }

    
}

.schema__steps-card-next-step-digit {
    font-weight: 600;
    font-size: 9.6rem;
    line-height: 1;
    color: #f0f0f0;
    margin-left: 4rem;
    @include breakpoint(mobile) {
        font-size: 4rem;
        line-height: 1;
        display: none;
    }
}

.schema__reglament {
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #7f7f7f;
    display: inline-flex;
    align-items: center;
    flex-basis: 39rem;
    font-family: $roboto;
    transition: color .2s;
    svg {
        margin-right: 1.2rem;
        flex-shrink: 0;
        width: 3.2rem;
        height: 3.9rem;
    }
    &:link,
    &:visited {
        color: #7f7f7f;
    }

    &:hover {
        color: $primary-color;
    }

    @include breakpoint(mobile) {
        flex-basis: auto;
    }
}
