// Colors

$primary-color: #49A2DC;
$light-blue: #F0F8FE;
$text-color: #707070;

// Dimensions


$side-padding: 12rem;

// Fonts

$fira: 'Fira Sans Condensed', sans-serif;
$fira-standard: 'Fira Sans', sans-serif;
$roboto: 'Roboto', sans-serif;


